@use "../../index.scss" as *;

.itemlistcontainer {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mob {
    padding: 16px;
   
  }

  .itemlist {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 20%;
    margin: 3% 6%;
    padding: 2%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mob {
      width: 100%;  
    }
  }
}

  .card {
    padding: 1rem;
    border: 2px solid transparent;
  
   
    &:not(.noneHover):hover {
      border: 2px solid $marca-bg;
    }
  
    &.noneHover {
      border: none;  
    }
  
  
  
        .card-title{
         color: $acento;
         @include mob{
          font-size: .8rem;
          text-align: left;
          width: 80vw;
          padding: 0;
          margin: 0;
         }
        }

        .card-img-top{
        width: 60%;
        margin: auto;
        }
 } 
    
  
a{
  text-decoration: none;
}

.card-text{
  @include mob{
    font-size: .9rem;
    text-align: left;
    width: 80vw;
    padding: 0;
    margin: 0;
   }
}