@use "../../index.scss" as *;


.logoBrand {
    width: 40%; 
    padding-bottom: .4rem;
    padding-left: 2rem;
  }
  
  .bagItem {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%;
    position: relative; 
  
    .bagItemNum {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      position: absolute; 
      top: -5px; 
      right: -10px; 
      background: $error; 
      border-radius: 50%; 
      padding: 0.2rem; 
      width: 16px; 
      height: 16px;
      margin-top: .8rem;
  
      @include mob {
        margin-top: .2rem;
      }
      
      p {
        color: #fff; 
        margin: 0; 
        font-size: 10px; 
      }
    }
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
   
  }