//Variables!

//Color principal de la marca
$marca: #233a87;
$marca-hover: #0e2160;
$marca-bg: rgba(138, 159, 188, 0.603);
$secun:#16112d;

$blanco:#ffffff;

$bg-loading:  rgba(255, 255, 255, 0.8);
$bg-overlay: rgba(8, 8, 65, 0.766);

// Color secundario o acento de la marca
$acento: #ed1d78;
$acento-hover: #f04c94;
$acento-bg: #fcd9e9;


// Colores para estados de los elemntos, de preferencia no cambiar.
$correcto: #36b57f;
$correcto-hover: #52CB98;
$correcto-bg: #C8EFDE;
$advertencia: hsl(40.235, 100%, 50%);
$advertencia-hover: hsl(40.235, 100%, 60%);
$advertencia-bg: #FFEECC;
$error: rgb(220 76 100);
$error-hover: #ff431a;
$error-bg: #FFCDC2;
$neutral: #545463;
$neutral-hover: hsl(240, 8%, 46%);


// Colores para textos

$textos: #0C0C21; // Solo se usan en textos sobre fondos claros
$texto-hover: #002862;
$textos-inv: #ffffff; // Solo se usan en textos sobre fondos oscuros
$texto-error: #E62A00; //Estados de error

$textos-bg: #eee;


//Mixins!
// _variables.scss

$bp-mob: 576px;
$bp-tab: 768px;
$bp-lap: 992px;  
$bp-larg: 1200px;
$bp-desk: 1440px; // LAPTOP PANTALLA
$bp-desk-large: 1600px; // MONITOR


// _mixins.scss

@mixin mob {
  @media (max-width: $bp-mob) {
    @content;
  }
}

@mixin tab {
  @media (min-width: $bp-mob) and (max-width: $bp-tab) {
    @content;
  }
}

@mixin lap {
  @media (min-width: $bp-tab) and (max-width: $bp-lap) {
    @content;
  }
}

@mixin larg {
  @media (min-width: $bp-lap) and (max-width: $bp-larg) {
    @content;
  }
}

@mixin desk {
  @media (min-width: $bp-larg) and (max-width: $bp-desk) {
    @content;
  }
}

@mixin desk-large {
  @media (min-width: $bp-desk-large) {
    @content;
  }
}

// Mixin mejorado que cubre desde desk hasta mob
@mixin desk-to-mob {
  @media (min-width: $bp-mob) and (max-width: $bp-desk) {
    @content;
  }
}

// Mixin que cubre desde desk hasta lap
@mixin desk-to-lap {
  @media (min-width: $bp-lap) and (max-width: $bp-desk) {
    @content;
  }
}

// Mixin que cubre desde larg hasta mob
@mixin larg-to-mob {
  @media (max-width: $bp-larg) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: rgba(169, 186, 209, 0.258);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  
  &.bg-contacto {
    background-color: $blanco ;
  }
}

.container-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1;
  padding: 20px; 
  @include mob{
    padding: 16px; 
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  color: #333;
}

.spinner {
  border: 8px solid $bg-loading; 
  border-top: 8px solid $acento; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.btn-uala{
background-color: $acento;
padding: .7rem;
color: $blanco;
border: 2px solid $acento;

margin-right: .6rem;
&:hover{
  background-color: transparent;
  color: $acento;
  border: 2px solid $acento;
}
&.sm{
  padding: .4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include mob {
    padding: .6rem;
    margin-top: -24px; 
    font-size: 0.8rem; 
  }
}

}

.btn-danger{
  background-color: $error;
  margin-left: .6rem;
margin-right: .6rem;
padding: .7rem;
color: $blanco;
border: 2px solid $error;
&:hover{
  background-color: transparent;
  color: $error;
  border: 2px solid $error;
}
}

.text-uala{
  color: $marca;
}


.btn-danger{
  background-color: $error;
  margin-left: .6rem;
margin-right: .6rem;
padding: .7rem;
color: $blanco;
border: 2px solid $error;
&:hover{
  background-color: transparent;
  color: $error;
  border: 2px solid $error;
}

&.link{
  color: $error;
  background-color: transparent;
  border: none;
  text-decoration: underline $error;
}

}

.text-uala{
  color: $marca;
  &.acent{
    color: $acento;
  }
}

.cartEmpty{
  height: 80vh;
  .cartEmptyImg{
    width: 24%;
  }
}

.btn-outline-primary{
  border: 1px solid $marca;
  color: $marca;
  &:hover{
background-color: $marca-hover;
border: 1px solid $marca;
  }
}

.product-divider {
  border-bottom: 1px solid $marca-bg;
  margin-top: 10px;
  margin-bottom: 10px;
}


.textForm{
  @include mob{
    padding-top: 2rem;
  }
}

.logo-sm{
  width: 28%;
}

.min-vh-80{
height: 80vh;
}

input::placeholder {
  color: $marca-bg!important; 
}

.bg-marca {
  background: linear-gradient(120deg, $marca-hover, rgba($marca-hover, 0.8));

}

.text-cta{
  font-size: 1.4rem;
}

//contacto
.contacto {
  background-color: $blanco ;
}

.video-fullwidth {
  width: 80%;
  height: 80vh; 
  object-fit: cover;
  margin-bottom: 20px;
}

.contact-info {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: none; 
  display: flex;
  align-items: center; 
  gap: 20px; 

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 10px;
    font-size: 18px;
  }

  @media (max-width: 767px) {
    .contact-info {
      flex-direction: column; /* En pantallas pequeñas, se apilan los elementos */
      align-items: flex-start;
    }
  }
}


.contSecond{
  @include mob(){
    margin-top: -14rem;
  }
}